
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* Remove Default Padding */

ul {
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Icons */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48
}

/*** Main Styling ***/

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  background: rosybrown;
}

/* Search Form */

.searchForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

#queryBox {
  padding: .2rem;
  border-radius: .2rem;
  border: none;
}

#queryBox:focus {
  box-shadow: 0 0 5px 5px rgb(80, 80, 80, 0.5);
  outline-color: darkmagenta;
}

button[type='submit'] {
  background: pink;
  border-radius: .2rem;
  padding: .2rem 1rem;
  border: none;
  cursor: pointer;
}

button[type='submit']:hover {
  color: aliceblue;
  background: darkmagenta;
}

/* Main - Container */

main.container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

main.container .content h1.place {
  text-align: center;
}

/* Description */

.description {
  font-size: 2rem;
}

/* Icon */

.icon {
  width: 140px;
  visibility: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px rgba(255, 211, 253, 0.408);
}

/* Temps */

.temps {
  font-size: 1.5rem;
}

/* Loader */

.loader {
  width: 100px;
  height: 100px;
  margin-top: 50%;
  border: 5px solid purple;
  border-top: 5px solid pink;
  border-radius: 50%;
  animation: 2s linear infinite spin;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Error */

.error {
  padding: 0 1rem;
  text-align: center;
}